*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
/* Écriture du code CSS souhaité pour les appareils avec écran et dont la largeur maximale est de 1100px */
@media screen and (max-width: 1100px) {
    .container_accueil{
        display: flex;
        margin: 4rem;
    }
    #stats {
        display: flex;
        margin: 4rem;
    }
    #stats_chiffre {
        display: flex;
        margin: 4rem;
    }
    #stats_chiffre .tache_box .tache_para {
        background-size:50%
    }
    #stats ul.boxs {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        padding: 4rem 0 4rem 0;
        gap: 10rem;
    }
    #donnes_secure {
        display: flex;
        margin: 4rem;
    }
    #stats ul.boxs{
        flex-flow: row wrap;
    }
    #stats_chiffre .wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin: 2rem;
    }
    #container_header {
        flex-flow: column nowrap;
    }
    #container_header .items_header{
        padding-right: inherit;
    }
    #container_header .logo_vactolib a{
        display: flex;
        justify-content: center;
    }
    footer {
        display: flex;

    }
}
/* Écriture du code CSS souhaité pour les appareils avec écran et dont la largeur maximale est de 990px */
@media screen and (max-width: 990px) {

}

/* Écriture du code CSS souhaité pour les appareils avec écran et dont la largeur maximale est de 760px */
@media screen and (max-width: 768px) {
    .container_accueil{
        display: flex;
        margin: 4rem;
    }
    .items_accueil {
        display: flex;
    }
    .items_groupe img {
        display: none;
    }
    .items_groupe{
        width: 0%;
    }
    .items_accueil_p {
        display: flex;
    }
    .separator {
        background-size: cover;
        height: 6rem;
        justify-content: center;
    }
    #stats ul.boxs{
        flex-flow: row wrap;
        gap: 5rem;
    }

    #stats_chiffre {
        display: flex;

    }
    .tache_box .tache2 {
        display: flex;
    }
    #stats_chiffre .tache_box{
        background-size:50%;
    }
    #stats_chiffre .wrap{
        flex-flow: row wrap;
    }

    #stats ul.boxs li {
        width: 40%;

    }
    #stats_chiffre .tache1 {
        background: center /contain no-repeat url(../img/tache.png);
        width: 45%;
    }
    #stats_chiffre .tache2 {
        background: center url(../img/tache2.svg) no-repeat;
        width: 45%;
    }
    #stats_chiffre .tache3 {
        background: center url(../img/tache3.svg) no-repeat;
        width: 45%;
    }
    #stats_chiffre .tache4 {
        background: center url(../img/tache4.svg) no-repeat;
        width: 45%;
    }
}

/* Écriture du code CSS souhaité pour les appareils avec écran et dont la largeur maximale est de 425px */
@media screen and (max-width: 425px) {

}

/* Écriture du code CSS souhaité pour les appareils avec écran et dont la largeur maximale est de 375px */
@media screen and (max-width: 375px) {

}

/* Écriture du code CSS souhaité pour les appareils avec écran et dont la largeur maximale est de 325px */
@media screen and (max-width: 325px) {

}

