/*RESET CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
ul, li{list-style: none;}
a{text-decoration: none;}
:root {
    --bleu : #E8F6FC;
    --rose : #F2DFE6;
    --vert_clair : #E3EDF1;
    --noir : #000000;
    --gris : #8d8989;
    --roser : #EFE9EE;
}
.wrap{max-width: 1040px;width: 100%;margin: 0 auto;}
.wrap2{max-width: 800px;width: 100%;margin: 0 auto;padding: 20px 0;}


/*Button User*/
.button_type1 {
    border-radius: 30px;
    width: 177px;
    height: 48px;
    text-align: center;
    padding-top: 0.7rem;
    background: var(--bleu);
    box-shadow: 0px 1px 1px 3px var(--bleu);
    background-image: linear-gradient(0, #e8f6fc, #ffffff);
    background-size: 0;
    transition: 1s;
    background-repeat: no-repeat;
}
.button_type1:hover {
    background-size: 100%;
}
.button_type2{
    border-radius: 30px;
    width: 30%;
    height: 40px;
    text-align: center;
    padding-top: 0.7rem;
    background: var(--bleu);
    box-shadow: 0px 1px 1px 3px var(--bleu);
    background-image: linear-gradient(0, #e8f6fc, #ffffff);
    background-size: 0;
    transition: 1s;
    background-repeat: no-repeat;
}
.button_type2:hover{background-size: 100%;}

/*Input*/

/*FORMULAIRE INSCRIPTION*/
#register_form {padding:1rem 0 5rem 0; position:relative;}
#register_form .img_float1{background: url("../img/img_background_deco.png") no-repeat ;background-size:cover;width:250px;height:250px; position:absolute;top:100;left:0;}
#register_form .img_float2{background: url("../img/tache-4.png") no-repeat ;width:300px;height:350px; position:absolute; bottom:100;right:0;}
#register_form .wrap2{
    display:flex;
    justify-content: center;
    border:solid 1px rgba(0,0,0,0) ;
    border-radius: 50px;
    width:35%;
    padding:2rem 0;
    -webkit-box-shadow: 0px 1px 14px 23px ;
    box-shadow: 0px 1px 14px 23px #e8f6fc;
}
#register_form .info_box{padding:1rem;}
#register_form .error{color:red;}
#register_form ::placeholder{color:black;}
#register_form form{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
}
#form textarea {resize: none;min-height: 50px; max-height: 150px; max-width: 350px}
#register_form input,textarea{
    background:white;
    border:solid 1px rgba(0,0,0,0);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin-bottom:0.5rem;
    -webkit-box-shadow: 0px 0px 5px 5px #d9d9d9;
    box-shadow: 0px 0px 5px 5px #d9d9d9;
}
#register_form .info_box_button input{
    text-align:center;
    padding:.6rem 6rem;
    cursor:pointer;
    color:black;
    margin:1.2rem 0;
}
#register_form p{color:red;font-size: .75rem;}
.logo {display:flex;justify-content: center;margin:2rem;}
/* HEADER */
.logo_vactolib {padding: 1rem;}
.logo_vactolib img {width: 50%;}
.logo_vactolib img:hover{opacity: 70%;transition: .5s;}
.logo_vactolib {padding: 1rem;}
.logo_vactolib img {width: 50%;}
.logo_vactolib img:hover{opacity: 70%;}
#container_header {
    background: var(--bleu);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_header {display: flex;flex-direction: row;}
.nav_header a {color: var(--noir);}
.items_header{padding-right: 2rem;}
.items_header ul{display: flex;gap: 1rem;}
.nav_header .ligne_black {width: 2px;height: 20px;background: black;}
.nav_header li a:hover{color: white;transition: .5s;}

/*SECTION ACCUEIL*/
.container_accueil{
    display: flex;
    flex-direction: row;
}
.separator {
    background: url("../img/separateur_accueil_user.svg") no-repeat;
    background-size: cover;
    height: 12rem;
    justify-content: center;
}
.items_accueil {
    display: flex;
    align-items: center;
    padding-top: 5rem;
    justify-content: center;
}
.items_accueil_p {
    display: flex;
    flex-direction: column;
}
.items_a {
    display: flex;
    gap: 2rem;
}
.items_a a:hover{
    opacity: 70%;
}
.items_a a{
    font-size: 18px;
    color: black;
}
.p_items_a p {
    font-size: 34px;
}
.items_groupe img {
    width: 100%;
}
.items_groupe {
    width: 45%;
}
.items_accueil p {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.items_accueil_p {
    width: 45%;
}
.items_accueil a {
    padding: .7rem 1.5rem ;
}



/*Donnes_secure*/
.container_secure{
    background-color: var(--bleu);
    padding: 3rem;
}
.ds_text {
    display: flex;
    gap: 10rem;
}
.items_secure {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.items_secure h2 {
    font-size: 28px;
    line-height: 2rem;
    padding-bottom: 1rem;
}
.logo_coffre img {
    width: 70%;
}
/*SECTION STATS*/
#stats{
    padding-top: 4rem;
}
#stats .wrap{}
#stats .tache{
    background-image: url("../img/tache.png");
}
#stats .title{
    text-align: center;
}
#stats ul.boxs{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 4rem 0 4rem 0;
    gap: 2rem;
}
#stats ul.boxs li {
    width: 23%;

}
#stats ul.boxs .img img{
    width: 100%
}
#stats ul.boxs li .boxs_text{
    padding-top: 1.5rem;
    align-content: center;
    text-align: center;
}

/*PAGE PROFIL*/
#profil_container .wrap{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
}
#profil_container .wrap a{
    color: black;
    font-weight: bold;
}
#profil_container .wrap .info_profil{
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}
#profil_container .wrap .info_profil .icon_profil{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
}
#profil_container .wrap .info_profil .box_items{
    width: 35rem;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0px 1px 4px 6px var(--bleu);
}
#profil_container .wrap .info_profil .box_items .title_item{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 1rem;
}
#profil_container .wrap .info_profil .box_items .info_list{
    display: flex;
    flex-flow: row nowrap;
}
/*FORMULAIRE EDIT*/
#profil_container .wrap .info_profil .box_items .info_list form{
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
}
#profil_container .wrap .info_profil .box_items .info_list form .form_box_modif{
    display: flex;
    flex-flow: column nowrap;
}
#profil_container .wrap .info_profil .box_items .info_list form .form_box_modif input[type="submit"]{
    border-radius: 30px;
    width: 80px;
    height: 30px;
    text-align: center;
    background: var(--bleu);
}
#profil_container .wrap .info_profil .box_items .info_list form .form_box_modif input[type="submit"]:hover{
    cursor: pointer;
    background: var(--bleu);
}
#profil_container .wrap .info_profil .box_items .info_list form .form_box_modif .error{
    color: red;
}
#profil_container .wrap .info_profil .box_items .info_list form .form_box_modif .form_box_input{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 6rem;
}
#profil_container .wrap .illustration_profil{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 3rem;
}
/*PAGE AJOUT VACCIN*/
#ajout_vaccin .wrap{
    display: flex;
    flex-flow: column nowrap;
    padding-top: 4rem;
}
#ajout_vaccin .wrap h1{
    text-align: center;
    font-size: 3rem;
}
#ajout_vaccin .wrap form{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0;
    margin: 0 auto;
}
#ajout_vaccin .wrap form select{
    border-radius: 10px;
    width: 35%;
}
#ajout_vaccin .wrap form .error_box{
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
}
#ajout_vaccin .wrap form .error_box .error{color: red;}
#ajout_vaccin .wrap form .button_type1{margin: 0 auto;padding: 0;}


/*CONTACT*/
#form_contact .boxinfo_contact input{background-color: var(--bleu);}
#form_contact .boxinfo_contact textarea{background-color: var(--bleu);}
#form_contact .boxinfo_contact_bis input {background-color: var(--bleu);}

/*FOOTER*/
#footer{color: var(--noir);}
#footer a{color: var(--noir);}
#footer a:hover{color: var(--gris);}

/*WAVE*/
#footer .footer__wave{background: var(--bleu);}
.wave {background: url(../img/wave_animation2.svg) repeat-x;}
#footer .footer__copyright ul li i{color: var(--noir);}
#footer .footer__copyright ul li i.fa-facebook-square:hover{color: #21529C;}
#footer .footer__copyright ul li i.fa-twitter-square:hover{color: #46C6FA;}
#footer .footer__copyright ul li i.fa-instagram:hover{color: #F7288B;}
