/*RESET CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}

:root {
    --bleu : #E8F6FC;
    --rose : #F2DFE6;
    --vert_clair : #E3EDF1;
}

.wrap{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

/*BOUTONS connexion/inscription*/


/*Input*/


/*FORMULAIRE INSCRIPTION*/

#register_form .wrap {max-width: 960px;width:100%;margin: 0 auto;}
#register_form{padding:2rem 0 ;font-family: 'Nunito', sans-serif;}
#register_form .wrap{
    display:flex;
    justify-content: center;
    border:solid 1px rgba(0,0,0,0) ;
    border-radius: 50px;
    width:50%;
    padding:2rem 0;
    -webkit-box-shadow: 0px 1px 14px 23px ;
    box-shadow: 0px 1px 14px 23px #F2DFE6;
}
#register_form .info_box{padding:1rem;}
#register_form .error{color:red;}
#register_form ::placeholder{font-family: 'Nunito',sans-serif;color:black;}
#register_form form{
    display:flex;
    flex-flow:column nowrap;
}
#form textarea {resize: none;min-height: 50px; max-height: 150px; max-width: 350px}
#register_form input,textarea{
    background:white;
    border:solid 1px rgba(0,0,0,0);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin-bottom:0.5rem;
    -webkit-box-shadow: 0px 0px 5px 5px #8E8E8E;
    box-shadow: 0px 0px 5px 5px #8E8E8E;
}
#register_form .info_box_button input{
    text-align:center;
    padding:.6rem 6rem;
    cursor:pointer;
    color:black;
}
/* HEADER */
.logo_vactolib {

    padding: 1rem;
}
.logo_vactolib img {
    width: 70%;
}

#container_header {
    background: var(--rose);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_header {
    display: flex;
    flex-direction: row;
}
.items_header{
    padding-right: 2rem;
}
.items_header ul{
    display: flex;
    gap: 1rem;
}
.nav_header .ligne_black {
    width: 2px;
    height: 20px;
    background: black;
}

/**/